/* css/2_layout/container.css */

.container {
  max-width: 80rem;
  padding: 0rem 1rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0rem 1.5rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0rem 2rem;
  }
}
