/* css/2_layout/section-sm.css */

.section-sm {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 768px) {
  .section-sm {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media (min-width: 1280px) {
  .section-sm {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
