/* TODO: Refactor in 3 css files: product, price-filter and products-grid */
.category-catalog__title {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.category-catalog__description {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--muted-foreground);
}

.products__layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 2rem;
}

@media (min-width: 64rem) {
  .products__layout {
    grid-template-columns: 1fr 2.63fr;
    grid-template-rows: auto;
  }
}
