/* css/3_components/categories.css */

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.categories__title {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .categories__title {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  .categories {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (min-width: 1280px) {
  .categories {
    gap: 2rem;
  }
}
