
.category {
  max-width: 24rem;
  width: 100%;
}

.category__type {
  font-weight: 600;
  margin-top: 1rem;
  color: var(--foreground)
}

.category p {
  font-size: 0.875rem;
  color: var(--muted-foreground);
}

.category__image {
  max-width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 0.75rem;
}

@media (min-width: 768px) {
  .category__image {
    aspect-ratio: 1/1.25;
    max-height: 30rem;
  }
}