.feature-icon {
  margin-bottom: 2rem;
}

.feature-icon--satisfaction {
  background-image: url('../../images/icons/satisfaction.svg');
}

.feature-icon--quality {
  background-image: url('../../images/icons/quality.svg');
}

.feature-icon--exclusive {
  background-image: url('../../images/icons/exclusive.svg');
}

.feature-title {
  font-weight: 500;
}

.feature-copy {
  font-weight: 400;
  font-size: .875rem;
  color: var(--muted-foreground);
  margin-bottom: 0px;
}