/* css/3_components/features.css */

.features {
  background-color: var(--muted-background);
  text-align: center;
}

.features__title {
  margin-bottom: 3rem;
}

.features__articles {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .features__articles {
    justify-content: center;
  }
}
