/* css/3_components/footer.css */

.footer {
  border-top: 1px solid var(--separator);
}

.footer__main-container {
  display: flex;
  flex-direction: column;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer__copyright {
  padding: 1.5rem 0;
  width: 100%;
  font-size: 0.875rem;
  border-top: 1px solid var(--separator);
}

.footer__copyright-text {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: var(--muted-foreground);
}

@media (min-width: 768px) {
  .footer__nav {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .footer__main-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  .footer__nav {
    width: 100%;
  }
}
