/* css/3_components/header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  height: 4rem;
  margin: 0 auto;
  padding: 0 2rem;
  border-bottom: 1px solid var(--separator);
}

.logo-container {
  height: 1.75rem;
}

.header__logo {
  height: 1.75rem;
}

.header__nav {
  display: flex;
}

.header__links {
  display: flex;
  list-style: none;
  gap: 0;
  color: var(--muted-foreground);
}

.header__link {
  padding: 1.375rem 0.75rem;
  cursor: pointer;
  color: var(--muted-foreground);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.header__link:hover {
  background-color: var(--accent-a2);
  color: var(--foreground);
}

.header__link--polos {
}

.header__link--tazas {
}

.header__link--stickers {
}

.header__cart {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url('../../images/icons/cart.svg') center/cover no-repeat;
  cursor: pointer;
}
