/* css/3_components/header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  height: 4rem;
  margin: 0 auto;
  padding: 0 2rem;
  border-bottom: 1px solid var(--separator);
}

.logo-container {
  height: 1.75rem;
}

.header__logo {
  height: 1.75rem;
}

.header__cart {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background: url('../../images/icons/cart.svg') center/cover no-repeat;
  cursor: pointer;
}
