.header__item {
  cursor: pointer;
  color: var(--muted-foreground);
  transition: background-color 0.2s ease, color 0.2s ease;
  display: flex;
}

.header__item:hover {
  background-color: var(--accent-background);
  color: var(--foreground);
}

.header__link {
  padding: 0.875rem 0.75rem 0.8125rem;
  line-height: 20px;
  color: var(--muted-foreground);
  font-size: 0.875rem;
}
