.header__link {
  padding: 1.375rem 0.75rem;
  line-height: 20px;
  cursor: pointer;
  color: var(--muted-foreground);
  transition: background-color 0.2s ease, color 0.2s ease;
}

.header__link:hover {
  background-color: var(--accent-a2);
  color: var(--foreground);
}
