.footer__boletin {
  margin-top: 0.5rem;
  max-width: 21.125rem;
}
.footer__boletin-title {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: var(--foreground);
}

.footer__copy {
  margin: 0 0 0.5rem;
  font-size: 0.875rem;
  color: var(--muted-foreground);
}

.form--footer-newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.footer__input-container {
  width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
