.form--filter-price {
  max-width: 24rem;
}

.fieldset.fieldset--price {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.legend.legend--price {
  font-size: var(--font-size-3-5);
}

.button--price {
  margin-top: 1.5rem;
  width: 100%;
}
